.gridBox {
    aspect-ratio: 1/1;
    flex: 1;
}

#gridCont {
    width: 256px;
    height: 256px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.gridRow {
    display: flex;
}