body {
    background-color: #FBF8CC;
}

#center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topText {
    font-family: 'Bungee', cursive;
    color: white;
    font-size: larger;  
}

#board {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #CFBAF0;
    margin: 30px;
    border-radius: 6px;
    border: outset 4px #CFBAF0;
    padding-top: 40px;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#buttons > * {
    margin: 15px 0 15px 0;
    padding: 15px;
    font-family: 'Bungee', cursive;
    border: outset 4px #ec9076;
    color: white;
    background-color: #ec9076;
    transition-duration: 0.5s;
}

#buttons > *:hover {
    cursor: pointer;
}

#gridCont {
    width: 384px;
    height: 384px;
    display: flex;
    flex-direction: column;
    border: inset 4px #CFBAF0;
    background-color: white;
    border-radius: 6px;
}

#sizing {
    font-family: 'Bungee', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}

.gridBox {
    aspect-ratio: 1/1;
    flex: 1;
    border: 0.5px solid gray;
    box-sizing: border-box;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #ec9076;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: orange;
    cursor: pointer;
  }

.gridRow {
    display: flex;
}