#board {
    display: flex;
    justify-content: center;
}

#gridCont {
    width: 384px;
    height: 384px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#sizing {
    display: flex;
}

.gridBox {
    aspect-ratio: 1/1;
    flex: 1;
}

.gridRow {
    display: flex;
}